<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
</head>
<body>
<title>Twitter - Find Trends and Analyze Sentiments</title>
<h1>Twitter - Find Trends and Analyze Sentiments</h1>
<p> What are people talking about? What are today's trending stories? What are the dominating EMOTIONS behind those stories? </p>
<p><p> This app is to find out the twitter trends and search for a hashtag to get a direct prediction of people emotions.
<div>
 <h2>Find what is trending today!</h2>
</div>

<div class="search-container">
<form action = "http://localhost:5000/" method = "post">
<button class="submit" style="height: 50px; width: 200px">Check Today's Twitter Trends</button>
</div>

</body>
</html>

</doctype>