<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">
</head>
<title>Twitter - Get Live Trends</title>
<h2>Twitter - Get Live Trends</h2>
<body>
<p>Take a Look at the top 10 trending tweets:</p>
{{ table|safe }}
<p>
<p>
<h3>Search for a Hashtag: </h3>
<p>
<div>
<form action = "http://localhost:5000/get_data" method = "post">
<input type="text" id = "search" name="search" placeholder="Enter a hashtag here" required="required" />
<br>
<p><p>
<button class=grey style="height:50px;width:150px">Get Tweets for a Hashtag</button></a></p>
</form>
<br>
<br>
</div>

{{ results }}

</body>
</html>
</doctype>

     